 <div class="user-details animated-section">
  <h1>Hello <span class="jumpy-sun">🌞</span></h1>
  <h3>I'm Melissa De Leon and here is my portfolio website version 3!</h3>
  <p>Welcome my digital space where I share my latest projects and contributions. This site not only showcases my technical skills but also represents my passion for innovation in software and web development. Together, let us constantly push the boundaries of what's possible.</p>
  <p>I am taking Harvard University's CS50 online courses through edx and I’ve picked up quite a few skills, and aim to improve these skills everyday. Here are a few of the technologies that I have experience with:</p>

  <!-- {{site.user_description}}  -->
</div>
  <div class="user animated-section">
    <div class="tech">
      <h2>Languages</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-c-plain colored"></i>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original-wordmark.svg" width="100" height="100" />
      <i class="devicon-mysql-plain-wordmark colored"></i>
    </div>
    <div class="tech animated-section">
      <h2>Frameworks</h2> 
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-original-wordmark.svg" width="100" height="100" />
    </div>
    <div class="tech animated-section">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" width="80" height="100" />          
      <i class="devicon-wordpress-plain-wordmark"></i>
    </div>
</div>
