<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">Melissa<br>De Leon</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/melissadeleonX"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Portfolio" target="_blank" href="https://tech-journey-melissadeleonx.vercel.app/"><i class="icon fa fa-briefcase" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/melissadeleonx"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-email">Get in touch 💌 <a class= "email-link" href="mailto:primavita19@gmail.com">primavita19@gmail.com</a></div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
        <a class="link" href="https://tech-journey-melissadeleonx.vercel.app/resume.pdf" target="_blank">CV-2024</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
